.content{
    font-family: AppleGothic;
}

.centered{
    margin: auto;
    width: 50%;
    display: block;
}

#profile_pic{
    border-radius: 50%;
    width: 500px;
    margin: auto;
    width: 50%;
    display: block;
}

#on_campus_photo{
    margin: auto;
    width: 100%;
}

#heading{
    font-family: AppleGothic;
}

body{
    background-color: blanchedalmond;
}

td, th{
    border: 1px solid black;
    text-align: center;
}

table{
    width: 100%;
}